<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="form">
    <mat-card fxLayout="column">
      <mat-form-field fxFill>
        <input formControlName="email" matInput placeholder="Email" />
      </mat-form-field>
      <mat-form-field fxFill>
        <input formControlName="password" matInput type="password" placeholder="Password" />
      </mat-form-field>
      <div fxFill fxLayout="row">
        <button [disabled]="!form.valid" fxFlex mat-button mat-stroked-button>Create Account</button>
      </div>
    </mat-card>
  </form>
</div>
